# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
hgb_env/
venv/
env/

# Data and Model Assets
# Do not track large data, embeddings, or generated graph files
data/embeddings/
data/processed/

# OS-specific
.DS_Store
